
<div class="container-fluid" ng-app="Realesttools">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h1 ng-if="name">Hello, {{name}}</h1>
    </div>
    <div class="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Enter your name" autofocus ng-model="name">
        </div>
      </form>
    </div>

    <div ng-app="app" class="app">

    <div ui-view><a href="" ui-sref="property">Go to the user page!</a>
      <div ng-controller="CreatePropertyController as ctrl">
        <ul>  
          <li ng-repeat="property in ctrl">
              {{property}}
          </li>
        </ul> 
      </div> 
    </div>
    </div>


  </div>
</div>

There will be comps below for this property

