START (This is in views/properties/show.html.erb)

<div ng-app="Realesttools">

 <ui-view> {{ ctrl.property.city }} 
  <span ng-bind="ctrl.property.city"></span>
  </ui-view>
 
</div>

There will be comps below for this property END (This is in views/properties/show.html.erb)

