START (This is in views/properties/show.html.erb)

    <div ng-app="Realesttools" class="Realesttools">

    <div ui-view><a href="" ui-sref="property">Go to the user page!</a>
      <div ng-controller="PropertyController as vm">
        <ul>  
          <li ng-repeat="property in vm.property">

             {{ property }} 
          </li>
        </ul> 
      </div> 
    </div>
    </div>


  </div>
</div>

There will be comps below for this property END (This is in views/properties/show.html.erb)

