START (This is in views/properties/show.html.erb)

<div ng-app="Realesttools">
  <div ng-controller="PropertyController as ctrl">
  {{ ctrl.property.city }}
  <span ng-bind="ctrl.property.city"></span>
  </div>
</div>

There will be comps below for this property END (This is in views/properties/show.html.erb)

